.status-column {
  display: flex;
  justify-content: center;
  align-items: center; /* Đảm bảo badge được căn giữa theo chiều dọc */
  width: 150px; /* Đảm bảo mỗi cột trạng thái có cùng chiều rộng */
}
.badge {
  font-size: 1.1rem; /* Tăng kích thước chữ */
  padding: 10px 15px; /* Tăng kích thước padding */
  width: 100%; /* Đảm bảo badge chiếm toàn bộ chiều rộng của cột */
  text-align: center;
}
.custom-line {
  border-top: 1px solid #ddd; /* Màu và độ dày của đường kẻ */
  margin: 10px 0;             /* Khoảng cách trên dưới của đường kẻ */
}
.custom-title {
  color: #007bff; /* Màu sắc bạn muốn sử dụng, thay đổi nếu cần */
  font-weight: bold;
}
.btn-primary.me-2 {
  margin-left: 20px;
  margin-top: 25px;
}
