
.modal {
    display: none; /* Ẩn modal ban đầu */
    position: fixed; /* Ở trên cùng */
    z-index: 1000; /* Trên cùng */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Nền tối mờ */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% từ trên cùng và ở giữa */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Chiều rộng */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    cursor: pointer; /* Con trỏ chuột khi hover */
}

