<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Medilab Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link th:href="@{assets/img/favicon.png}" rel="icon">
  <link th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
  <link th:href="@{/css/logout.css}" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">


  <!-- jQuery và Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

  <!-- Thêm CSS và JS cho Bootstrap -->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>



  <!-- Main CSS File -->
  <link th:href="@{assets/css/main.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Medilab
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

<th:block th:replace="header :: headerFragment"></th:block>

<main class="main">

  <!-- Hero Section -->
  <section id="hero" class="hero section light-background">

    <img th:src="@{assets/img/hero-bg.jpg}" alt="" data-aos="fade-in">

    <div class="container position-relative">

      <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
        <h2>WELCOME TO MEDILAB</h2>
        <p>We are team of talented designers making websites with Bootstrap</p>
      </div><!-- End Welcome -->

      <div class="content row gy-4">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
            <h3>Why Choose Medilab?</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
            </p>
            <div class="text-center">
              <a href="#about" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
            </div>
          </div>
        </div><!-- End Why Box -->

        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="d-flex flex-column justify-content-center">
            <div class="row gy-4">

              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Corporis voluptates officia eiusmod</h4>
                  <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                  <i class="bi bi-gem"></i>
                  <h4>Ullamco laboris ladore pan</h4>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                  <i class="bi bi-inboxes"></i>
                  <h4>Labore consequatur incidid dolore</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>
        </div>
      </div><!-- End  Content-->

    </div>

  </section><!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">

    <div class="container">

      <div class="row gy-4 gx-5">

        <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
          <img th:src="@{assets/img/about.jpg}" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
        </div>

        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <h3>About Us</h3>
          <p>
            Dolor iure expedita id fuga asperiores qui sunt consequatur minima. Quidem voluptas deleniti. Sit quia molestiae quia quas qui magnam itaque veritatis dolores. Corrupti totam ut eius incidunt reiciendis veritatis asperiores placeat.
          </p>
          <ul>
            <li>
              <i class="fa-solid fa-vial-circle-check"></i>
              <div>
                <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-pump-medical"></i>
              <div>
                <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-heart-circle-xmark"></i>
              <div>
                <h5>Voluptatem et qui exercitationem</h5>
                <p>Et velit et eos maiores est tempora et quos dolorem autem tempora incidunt maxime veniam</p>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </section><!-- /About Section -->

  <!-- Stats Section -->
  <section id="stats" class="stats section light-background">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fa-solid fa-user-doctor"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
            <p>Doctors</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fa-regular fa-hospital"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
            <p>Departments</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fas fa-flask"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
            <p>Research Labs</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fas fa-award"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
            <p>Awards</p>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>

  </section><!-- /Stats Section -->

  <!-- Departments Section -->
  <section id="departments" class="departments section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Departments</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-1">Cardiology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2">Neurology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3">Hepatology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4">Pediatrics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5">Eye Care</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="departments-tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Cardiology</h3>
                  <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                  <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img th:src="@{assets/img/departments-1.jpg}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Et blanditiis nemo veritatis excepturi</h3>
                  <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                  <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img th:src="@{assets/img/departments-2.jpg}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                  <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                  <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img th:src="@{assets/img/departments-3.jpg}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                  <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                  <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img th:src="@{assets/img/departments-4.jpg}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                  <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                  <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img th:src="@{assets/img/departments-5.jpg}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section><!-- /Departments Section -->

  <!-- Doctors Section -->
  <section id="doctors" class="doctors section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Doctors</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img th:src="@{assets/img/doctors/doctors-1.jpg}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Medical Officer</span>
              <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img th:src="@{assets/img/doctors/doctors-2.jpg}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Anesthesiologist</span>
              <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img th:src="@{assets/img/doctors/doctors-3.jpg}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>Cardiology</span>
              <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img th:src="@{assets/img/doctors/doctors-4.jpg}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Neurosurgeon</span>
              <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->

      </div>

    </div>

  </section><!-- /Doctors Section -->

  <!-- Gallery Section -->
  <section id="gallery" class="gallery section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Gallery</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a th:href="@{assets/img/gallery/gallery-1.jpg}" class="glightbox" data-gallery="images-gallery">
              <img th:src="@{assets/img/gallery/gallery-1.jpg}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a th:href="@{assets/img/gallery/gallery-2.jpg}" class="glightbox" data-gallery="images-gallery">
              <img th:src="@{assets/img/gallery/gallery-2.jpg}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a th:href="@{assets/img/gallery/gallery-3.jpg}" class="glightbox" data-gallery="images-gallery">
              <img th:src="@{assets/img/gallery/gallery-3.jpg}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a th:href="@{assets/img/gallery/gallery-4.jpg}" class="glightbox" data-gallery="images-gallery">
              <img th:src="@{assets/img/gallery/gallery-4.jpg}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a th:href="@{assets/img/gallery/gallery-5.jpg}" class="glightbox" data-gallery="images-gallery">
              <img th:src="@{assets/img/gallery/gallery-5.jpg}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a th:href="@{assets/img/gallery/gallery-6.jpg}" class="glightbox" data-gallery="images-gallery">
              <img th:src="@{assets/img/gallery/gallery-6.jpg}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a th:href="@{assets/img/gallery/gallery-7.jpg}" class="glightbox" data-gallery="images-gallery">
              <img th:src="@{assets/img/gallery/gallery-7.jpg}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a th:href="@{assets/img/gallery/gallery-8.jpg}" class="glightbox" data-gallery="images-gallery">
              <img th:src="@{assets/img/gallery/gallery-8.jpg}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

      </div>

    </div>

  </section><!-- /Gallery Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
      <iframe style="border:0; width: 100%; height: 270px;"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyACUD3W5txXqJP6-yDvKEPWzuyfWqlRpo4&q=Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+S%C3%A0i+G%C3%B2n"
              frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Location</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+1 5589 55488 55</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>info@example.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>
      </div>
    </div>

  </section><!-- /Contact Section -->


</main>
<div class="fixed-box">
	<div class="chatbox_header">
		<span class="chat_title">Chat với Bot</span>
		<button class="close_button">X</button>
	</div>
	<div class="messaging">
		<div class="inbox_msg">
			<div class="mesgs">
				<div class="msg_history" id="chatbox">
					<div class="incoming_msg">
						<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" style="max-width: 100%;"> </div>
						<div class="received_msg">
							<div class="received_withd_msg">
								<p>Chào quý khách! quý khách cần hỗ trợ gì?</p>
								<span class="time_date"></span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<form class="chat-input" onsubmit="return false;">
	      	<input type="text" id="chatInput" autocomplete="on" placeholder="Type a message" />
	      	<button id="sendmm">
            	<svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,.38)" d="M17,12L12,17V14H8V10H12V7L17,12M21,16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V7.5C3,7.12 3.21,6.79 3.53,6.62L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.79,6.79 21,7.12 21,7.5V16.5M12,4.15L5,8.09V15.91L12,19.85L19,15.91V8.09L12,4.15Z" /></svg>
            </button>
	    </form>
	</div>
</div>

<script>
	const timeDateElement = document.querySelector('.time_date');

	// Hàm lấy thời gian hiện tại và định dạng
	function updateTimeDate() {
	    const now = new Date();
	    const hours = now.getHours();
	    const minutes = now.getMinutes();
	    const ampm = hours >= 12 ? 'PM' : 'AM';
	    const formattedHours = hours % 12 || 12; // Chuyển đổi sang 12 giờ
	    const formattedMinutes = minutes < 10 ? '0' + minutes : minutes; // Thêm '0' nếu cần
	    const month = now.toLocaleString('en-US', { month: 'long' }); // Tên tháng
	    const day = now.getDate(); // Ngày

	    // Chuỗi thời gian định dạng
	    const timeString = `${formattedHours}:${formattedMinutes} ${ampm} | ${month} ${day}`;
	    timeDateElement.textContent = timeString;
	}

	// Gọi hàm để cập nhật thời gian khi tải trang
	updateTimeDate();
	document.querySelector('.close_button').addEventListener('click', function() {
	    const chatboxHeader = document.querySelector('.fixed-box');
	    chatboxHeader.classList.toggle('hidden'); // Thêm hoặc bỏ class 'hidden'
	});
	document.querySelector('.close_button').addEventListener('click', function() {
	    const chatboxHeader = document.querySelector('.chatbox_header');
	    const button = document.querySelector('.close_button');
	    
	    chatboxHeader.classList.toggle('hidden'); // Thêm hoặc xóa class 'hidden'
	    
	    if (chatboxHeader.classList.contains('hidden')) {
	        button.textContent = 'O'; // Nếu hidden, đổi nút thành 'O'
	        button.classList.remove('x'); // Xóa class 'x' (đỏ)
	        button.classList.add('o'); // Thêm class 'o' (xanh)
	    } else {
	        button.textContent = 'X'; // Nếu không hidden, đổi nút thành 'X'
	        button.classList.remove('o'); // Xóa class 'o' (xanh)
	        button.classList.add('x'); // Thêm class 'x' (đỏ)
	    }
	});


	
	$('.chat-input input').keyup(function(e) {
	  if ($(this).val() == '')
	    $(this).removeAttr('good');
	  else
	    $(this).attr('good', '');
	});

	$('#sendmm').click(function() {
		sendd();
	});

							document.getElementById("chatInput").addEventListener("keydown", function(event) {
								if (event.key === "Enter") {
									event.preventDefault(); // Ngăn form submit nếu có
									sendd();
								}
							});

							function sendd() {
								// Lấy nội dung từ input
									const inputContent = document.getElementById("chatInput").value.trim();

									// Kiểm tra xem input có trống hay không
									if (inputContent !== "") {
										// Tạo một phần tử div mới với class "item"
										const newItem = document.createElement("div");
										newItem.classList.add("outgoing_msg");

										const now = new Date();

										// Thiết lập nội dung HTML cho newItem
										newItem.innerHTML = `
											<div class="sent_msg">
												<p>${inputContent}</p>
												<span class="time_date"> ` + now.getHours() + `:` + now.getMinutes() + `    |    Today</span>
											</div>
										`;

										// Thêm phần tử mới vào trong div có class "box"
										document.getElementById("chatbox").appendChild(newItem);
										
										senddd(inputContent);

										// Xóa nội dung trong input sau khi nhấn Enter
										document.getElementById("chatInput").value = "";
										scrollToBottom();
								    	$('.chat-input input').removeAttr('good');

									}
							}
							function senddd(inputContent) {
							    if (inputContent !== "") {
							        // Hiển thị thông báo chờ
							        const loadingMessageDiv = document.createElement("div");
							        loadingMessageDiv.classList.add("incoming_msg");
							        loadingMessageDiv.setAttribute("id", "loadingMessage");
							        loadingMessageDiv.innerHTML = `
							            <div class="incoming_msg_img">
							                <img src="https://ptetutorials.com/images/user-profile.png" style="max-width: 100%;" alt="sunil">
							            </div>
							            <div class="received_msg">
							                <div class="received_withd_msg">
							                    <p><b class="blinking">Đang trả lời...</b></p>
							                    <span class="time_date">${new Date().getHours()}:${new Date().getMinutes()} | Today</span>
							                </div>
							            </div>
							        `;
							        document.getElementById("chatbox").appendChild(loadingMessageDiv);
							        scrollToBottom();

							        // Gửi dữ liệu đến REST API
							        fetch("/hitOpenaiApi", {
							            method: "POST",
							            headers: {
							                "Content-Type": "application/json"
							            },
							            body: JSON.stringify(inputContent)
							        })
							        .then(response => response.text()) // Lấy dữ liệu phản hồi từ API
							        .then(data => {
							            // Xóa thông báo chờ khi có phản hồi từ server
							            document.getElementById("loadingMessage").remove();

							            // Xử lý phản hồi từ server (API OpenAI)
							            const responseMessage = data;

							            // Tạo một phần tử div mới với class "incoming_msg" cho tin nhắn phản hồi
							            const responseMessageDiv = document.createElement("div");
							            responseMessageDiv.classList.add("incoming_msg");
							            responseMessageDiv.innerHTML = `
							                <div class="incoming_msg_img">
							                    <img src="https://ptetutorials.com/images/user-profile.png" style="max-width: 100%;" alt="sunil">
							                </div>
							                <div class="received_msg">
							                    <div class="received_withd_msg">
							                        <p>${responseMessage}</p>
							                        <span class="time_date">${new Date().getHours()}:${new Date().getMinutes()} | Today</span>
							                    </div>
							                </div>
							            `;
							            document.getElementById("chatbox").appendChild(responseMessageDiv);
							            scrollToBottom();

							            // Xóa nội dung trong input sau khi nhấn Enter
							            document.getElementById("chatInput").value = "";
							        })
							        .catch(error => {
							            console.error("Error:", error);
							            // Xóa thông báo chờ trong trường hợp có lỗi
							            document.getElementById("loadingMessage").remove();
							        });
							    }
							}
							document.querySelector('.msg_history').scrollTop = document.querySelector('.msg_history').scrollHeight;

							// Cuộn đến cuối mỗi khi có thay đổi (ví dụ khi thêm tin nhắn mới)
							function scrollToBottom() {
							    const msgHistory = document.querySelector('.msg_history');
							    msgHistory.scrollTop = msgHistory.scrollHeight;
							}

							</script>
<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{assets/vendor/php-email-form/validate.js}"></script>
<script th:src="@{assets/vendor/aos/aos.js}"></script>
<script th:src="@{assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{assets/vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:src="@{assets/vendor/swiper/swiper-bundle.min.js}"></script>
<!-- Main JS File -->
<script th:src="@{assets/js/main.js}"></script>

<th:block th:replace="footer :: footerFragment"></th:block>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACUD3W5txXqJP6-yDvKEPWzuyfWqlRpo4&callback=initMap&libraries=directions&loading=async" async defer></script>

</body>

</html>