<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Medilab Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link th:href="@{assets/img/favicon.png}" rel="icon">
  <link th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{css/duy.css}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Main CSS File -->
  <link th:href="@{assets/css/main.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Medilab
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

	<th:block th:replace="header :: headerFragment"></th:block>

 	<div class="listItem_parent">
		<div th:each="kham : ${listkham}" class="card" onclick="openPopup()" th:attr="data-id=${kham.maLK}">
			<div class="container">
				<div style="display: flex;">
					<div style="width: 88%;">
						<h4><b th:text="${kham.ngayGioDatKham}"></b></h4> 
					</div>
					<div style="width: 12%;">

						<button type="button" class="btn btn-primary myButton" th:text="${kham.trangThai}" style="width: 100%;">Trạng thái</button>
					</div>
				</div>
				<h4>Mã: <b th:text="${kham.maLK}"></b></h4> 
			</div>
		</div>
	</div>
	<script>
	    const buttons = document.getElementsByClassName('myButton');
	    
	    // Chạy vòng lặp để áp dụng màu cho từng button
	    for (let i = 0; i < buttons.length; i++) {
	        const button = buttons[i];
	        const text = button.textContent || button.innerText;
	        
	        // Thay đổi màu dựa trên nội dung
	        if (text === 'Pending') {
	            button.style.backgroundColor = 'red';
	        } else if (text === 'Completed') {
	            button.style.backgroundColor = 'green';
	        }
	    }
	</script>
	<!-- Nền mờ -->
    <div class="overlay" id="overlay"></div>

    <!-- Popup Form -->
    <div class="popup" id="popupForm">
        <span class="close-btn" onclick="closePopup()">&times;</span>
        <h2>Form Xem Chi Tiết</h2>
		<b>Mã Hồ Sơ: <b>001</b></b>
    	<div id="lichkhamContent">
			
		</div>
    </div>
	<!--<button class="open-popup-btn" onclick="openPopup()">Mở Form</button>-->
    <script>
        // Hàm mở popup
        function openPopup() {
            document.getElementById('popupForm').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }
        // Hàm đóng popup
        function closePopup() {
            document.getElementById('popupForm').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }
		$(document).ready(function() {
	        $('.card').on('click', function(e) {
	            e.preventDefault();
	            var id = $(this).data('id');
	            $.ajax({
	                url: '/LichKhamLS/chiTiet',
	                data: { id: id },
	                success: function(data) {
	                    $('#lichkhamContent').html(data);
	                },
	                error: function() {
	                    alert('Có lỗi xảy ra khi lấy chi tiết lịch khám.');
	                }
	            });
	        });
	    });
    </script>


<th:block th:replace="footer :: footerFragment"></th:block>

</body>