<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
    <link th:href="@{assets2/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link th:href="@{assets2/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body class="bg-gradient-primary">

<div class="container">
    <div class="row justify-content-center" style="margin-top: 10%">
        <div class="col-xl-6 col-lg-8 col-md-10">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Reset Password</h1>
                    </div>
                    <form method="POST" th:action="@{/reset_password}">
                        <input type="hidden" name="token" th:value="${token}" />
                        <div class="form-group">
                            <label for="password">New Password:</label>
                            <input type="password" id="password" name="password" class="form-control form-control-user" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password:</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control form-control-user"required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
