<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link th:href="@{assets2/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{assets2/css/sb-admin-2.min.css}" rel="stylesheet">



    <!-- Custom styles for this page -->
    <link th:href="@{assets2/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{assets2/css/tablescumtom.css}" rel="stylesheet">

    <link th:href="@{assets2/css/CSS_thongtinTV/thongtin.css}" rel="stylesheet">


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">User <sup></sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-users"></i>
                <span>Thông tin</span></a>
        </li>

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="MuonTB.html">
                <i class="fas fa-desktop"></i>
                <span>Đặt mượn thiết bị</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="XemViPham.html">
                <i class="fas fa-desktop"></i>
                <span>Vi phạm</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="XemTBDuocMuon.html">
                <i class="fas fa-desktop"></i>
                <span>Thiết bị đang mượn</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="XemTBDaMuon.html">
                <i class="fas fa-desktop"></i>
                <span>Thiết bị đã mượn</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->



    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="margin-top: 2%">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <h2 class="m-0 font-weight-bold text-primary">Chi tiết lịch khám</h2>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>



                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="img-profile rounded-circle"
                                 src="img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>MSSV</label>
                                <input type="text" id="maTV" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                <label>Tên</label>
                                <input type="text" id="ten" class="form-control" th:value="${ten}">
                            </div>
                            <div class="form-group">
                                <label>Khoa</label>
                                <input type="text" id="khoa" class="form-control" th:value="${khoa}" readonly>
                            </div>
                            <div class="form-group">
                                <label>Ngành</label>
                                <input type="text" id="nganh" class="form-control" th:value="${nganh}" readonly>
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu</label>
                                <input type="text" id="password" class="form-control" th:value="${password}">
                                <div class="change_pass">
                                    <!--                                    <a class="btn btn-danger btn-circle btn-lg" onclick="">-->
                                    <!--                                        <i class="fas fa-eye"></i> &lt;!&ndash; Xóa &ndash;&gt;-->
                                    <!--                                    </a>-->
                                </div>

                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" id="email" class="form-control" th:value="${email}">
                            </div>

                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input type="number" id="sdt" class="form-control" th:value="${sdt}">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="saveChanges()">Lưu</button>
                            <button type="button" class="btn btn-secondary" onclick="">Hủy</button>

                        </form>

                    </div>

                    <div class="card-body">
                        <label>Tổng số tiền còn nợ:</label>
                        <span id="totalDebt">Đang tải...</span>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="DangNhap.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../js/demo/datatables-demo.js"></script>
<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    window.addEventListener("DOMContentLoaded", function() {
        // Lấy mã thành viên từ URL
        var urlParams = new URLSearchParams(window.location.search);
        var maTV = urlParams.get('maTV');
        document.getElementById("maTV").value = maTV;

        if (maTV) {
            // Gửi yêu cầu lấy tổng số tiền nợ cho mã thành viên hiện tại
            fetch('/getTotalDebt?maTV=' + maTV)
            .then(response => response.json())
            .then(data => {
                // Hiển thị tổng số tiền nợ lên giao diện
                document.getElementById('totalDebt').innerText = data + " vnđ";
            })
            .catch(error => {
                console.error('Lỗi khi gửi yêu cầu: ', error);
                // Xử lý lỗi nếu cần thiết
            });
        }
    });
</script>


<script>
    function saveChanges() {
        // Lấy phần tử input bằng id
        var maTVInput = document.getElementById('maTV');
        var tenInput = document.getElementById('ten');
        var khoaInput = document.getElementById('khoa');
        var nganhInput = document.getElementById('nganh');
        var passwordInput = document.getElementById('password');
        var emailInput = document.getElementById('email');
        console.log(emailInput);
        var sdtInput = document.getElementById('sdt');

        // Kiểm tra xem các phần tử input có tồn tại không
        if (maTVInput && tenInput && khoaInput && nganhInput && emailInput && sdtInput) {
            const maTV = maTVInput.value; // Lấy giá trị mã thành viên
            const ten = tenInput.value; // Lấy giá trị tên
            const khoa = khoaInput.value; // Lấy giá trị khoa
            const nganh = nganhInput.value; // Lấy giá trị ngành
            const password = passwordInput.value; // Lấy giá trị ngành
            const email = emailInput.value; // Lấy giá trị email
            console.log(email);
            const sdt = sdtInput.value; // Lấy giá trị số điện thoại

            // Gửi yêu cầu PUT đến endpoint "/ThongTinTV.html" với các tham số tương ứng
            fetch('/ThongTinTV.html?&maTV=' + maTV + '&ten=' + ten + '&khoa=' + khoa + '&password=' + password + '&nganh=' + nganh + '&email=' + email + '&sdt=' + sdt, {
                method: 'PUT'
            })
            .then(response => {
                if (response.ok) {
                    // Hiển thị thông báo thành công nếu mã trạng thái là 200
                    Swal.fire({
                        icon: 'success',
                        title: 'Thành công',
                        text: 'Thông tin đã được cập nhật thành công!',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload(); // Làm mới trang sau khi lưu thành công
                        }
                    });
                } else if (response.status === 400) {
                    // Hiển thị thông báo lỗi nếu mã trạng thái là 400
                    response.text().then(errorMessage => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Lỗi',
                            text: errorMessage,
                            confirmButtonColor: '#d33',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload(); // Làm mới trang sau khi hiển thị thông báo lỗi
                            }
                        });
                    });
                } else {
                    console.error('Lỗi khi lưu thông tin thành viên');
                    // Hiển thị thông báo lỗi mặc định cho các trường hợp khác
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Đã xảy ra lỗi khi lưu thông tin thành viên. Vui lòng thử lại sau!',
                        confirmButtonColor: '#d33',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload(); // Làm mới trang sau khi hiển thị thông báo lỗi
                        }
                    });
                }
            })
            .catch(error => {
                console.error('Lỗi khi gửi yêu cầu: ', error);
                // Hiển thị thông báo lỗi
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: 'Đã xảy ra lỗi khi gửi yêu cầu. Vui lòng thử lại sau!',
                    confirmButtonColor: '#d33',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.reload(); // Làm mới trang sau khi hiển thị thông báo lỗi
                    }
                });
            });
        }
    }

</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy tham số maTV từ URL
        var urlParams = new URLSearchParams(window.location.search);
        var maTV = urlParams.get('maTV');

        // Lấy tất cả các liên kết có href là MuonTB.html
        var muonTBLinks = document.querySelectorAll('a[href="MuonTB.html"]');

        // Lặp qua từng liên kết
        muonTBLinks.forEach(function (link) {
            // Gắn tham số maTV vào URL của liên kết
            if (maTV) {
                link.href = "MuonTB.html?maTV=" + maTV;
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy tham số maTV từ URL
        var urlParams = new URLSearchParams(window.location.search);
        var maTV = urlParams.get('maTV');

        // Lấy tất cả các liên kết có href là XemViPham.html
        var XemViPhamLinks = document.querySelectorAll('a[href="XemViPham.html"]');

        // Lặp qua từng liên kết
        XemViPhamLinks.forEach(function (link) {
            // Gắn tham số maTV vào URL của liên kết
            if (maTV) {
                link.href = "XemViPham.html?maTV=" + maTV;
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy tham số maTV từ URL
        var urlParams = new URLSearchParams(window.location.search);
        var maTV = urlParams.get('maTV');

        // Lấy tất cả các liên kết có href là XemTBDuocMuon.html
        var XemTBDuocMuonLinks = document.querySelectorAll('a[href="XemTBDuocMuon.html"]');

        // Lặp qua từng liên kết
        XemTBDuocMuonLinks.forEach(function (link) {
            // Gắn tham số maTV vào URL của liên kết
            if (maTV) {
                link.href = "XemTBDuocMuon.html?maTV=" + maTV;
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy tham số maTV từ URL
        var urlParams = new URLSearchParams(window.location.search);
        var maTV = urlParams.get('maTV');

        // Lấy tất cả các liên kết có href là XemTBDaMuon.html
        var XemTBDaMuonLinks = document.querySelectorAll('a[href="XemTBDaMuon.html"]');

        // Lặp qua từng liên kết
        XemTBDaMuonLinks.forEach(function (link) {
            // Gắn tham số maTV vào URL của liên kết
            if (maTV) {
                link.href = "XemTBDaMuon.html?maTV=" + maTV;
            }
        });
    });
</script>

</body>

</html>