<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link th:href="@{assets2/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{assets2/css/sb-admin-2.min.css}" rel="stylesheet">



    <!-- Custom styles for this page -->
    <link th:href="@{assets2/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{assets2/css/tablescumtom.css}" rel="stylesheet">

    <link th:href="@{assets2/css/Css_BN/FormThemBN.css}" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Doctor</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <li class="nav-item ">
            <a class="nav-link" href="DSLichKham">
                <i class="fas fa-fw fa-users"></i>
                <span>Lịch khám</span></a>
        </li>

        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item active">
            <a class="nav-link" href="NgayNghi">
                <i class="fas fa-fw fa-users"></i>
                <span>Ngày nghỉ</span></a>
        </li>

        <hr class="sidebar-divider d-none d-md-block">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="DSBenhNhan">
                <i class="fas fa-fw fa-users"></i>
                <span>Bệnh nhân</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                <span>Đăng xuất</span></a>
        </li>

        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <br>

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="m-0 font-weight-bold text-primary">Danh sách ngày nghỉ</h2>
                            </div>
                            <div class="col-auto">
                                <div class="icon-container">
                                    <a class="btn btn-primary btn-circle btn-lg" id="addButton">
                                        <i class="fas fa-plus"></i> <!-- Thêm -->
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th style="width: 50px;"><input type="checkbox" name="selectedItems" id="checkAll" class="larger-checkbox" style="margin-top: 5px;"/></th>
                                    <th>Mã lịch</th>
                                    <th>Ngày nghỉ</th>
                                    <th>Trạng thái</th>
                                    <th>Xóa</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="lichnghi : ${lichNghiList}"><td><input type="checkbox"  class="checkbox_ID larger-checkbox"/></td>
                                    <td th:text="${lichnghi.maLK}">MaLK</td>
                                    <td th:text="${#temporals.format(lichnghi.ngayGioDatKham, 'dd-MM-yyyy HH:mm')}">NgayGioDatKham</td>
                                    <td th:text="${lichnghi.trangThai}">Trangthai</td>
                                    <td>
                                        <form th:action="@{/NgayNghi/xoa}" method="post">
                                            <input type="hidden" name="_method" value="delete" />
                                            <input type="hidden" name="id" th:value="${lichnghi.maLK}" />
                                            <button type="submit" class="btn btn-danger btn-circle btn-lg" onclick="return confirm('Bạn có chắc chắn muốn xóa?');">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>

                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="../login.html">Logout</a>
            </div>
        </div>
    </div>
</div>



<!--Form them benh nhan-->
<div class="container">
    <div id="addForm" class="add-form">
        <h2>Thêm thời gian nghỉ</h2>
        <form th:action="@{/NgayNghi}" method="post" >
            <input type="hidden" name="action" value="add" />
            <div class="row">
                <!-- Cột bên trái -->
                <div class="col-md-12">

                    <div class="form-group">
                        <label for="ngayNghi">Chọn ngày nghỉ:</label>
                        <input type="date" class="form-control" id="ngayNghi" name="ngayNghi" />
                    </div>

                    <!-- Input chọn khoảng thời gian bắt đầu -->
                    <section>
                        <div class="form-group">
                            <label for="thoiGianNghi">Thời gian nghỉ:</label>
                            <select class="form-control" id="thoiGianNghi" name="thoiGianNghi">
                                <option value="08:00">8:00</option>
                                <option value="08:30">8:30</option>
                                <option value="09:00">9:00</option>
                                <option value="09:30">9:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:30</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                            </select>
                        </div>
                    </section>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" onclick="saveAdd()">Lưu thay đổi</button>
            <button type="button" class="btn btn-secondary" onclick="closeFormAdd()">Đóng</button>
        </form>
    </div>
</div>



<script src="assets2/vendor/jquery/jquery.min.js"></script>
<script src="assets2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="assets2/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="assets2/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="assets2/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="assets2/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="assets2/js/demo/datatables-demo.js"></script>

<!--<script th:src="@{assets2/js/LichNghiLN.js}"></script>-->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function openFormAdd() {

    document.getElementById("addForm").style.display = "block";
}

function closeFormAdd() {

    document.getElementById("addForm").style.display = "none";
}

var addButton = document.getElementById('addButton');

addButton.addEventListener('click', function(event) {

    openFormAdd();
});
</script>

</body>

</html>